header {
  padding: 10px;
  background-color: aliceblue;
  text-align: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
}

.scoreboard p {
  margin: 20px;
  font-size: 20px;
  font-weight: 700;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 160px);
  grid-gap: 15px;
  justify-items: center;
  align-items: center;
  list-style-type: none;
}

@media (min-width: 790px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

img:hover {
  width: 200px;
  height: 200px;
}
