.scoreboard {
  display: flex;
  justify-content: center;
}

.scoreboard p {
  margin: 30px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
}

@media (min-width: 790px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.cards li {
  margin: 20px auto;
}

img {
  width: 150px;
  height: 150px;
  cursor: pointer;
}
